.headerimg{
    width: auto;
}
.logincontainer{
    
    margin-top: 50px;
    margin-left: 35%;
    margin-right: 35%;

}
.newresnavtext{
    color: #438b2b;
    font-weight: 500;
}
.updateresnavtext{
    color: #ff891b;
    font-weight: 500;
}